In [45]:
import pandas as pd
import numpy as np

df = pd.read_csv("weather.csv")

df = df.replace("No data.", np.nan)

cols = [i for i in df.columns if i not in ['Date']]

for col in cols:
    df[col] = df[col].astype(float)

df.Date = pd.to_datetime(df.Date)

In [46]:
df21 = df[df.Date.dt.year == 2021]
df20 = df[df.Date.dt.year == 2020]
df19 = df[df.Date.dt.year == 2019]
df18 = df[df.Date.dt.year == 2018]
df17 = df[df.Date.dt.year == 2017]

In [56]:
df20.groupby(by=[df20.Date.dt.month])['Minimum Temperature', 'Mean Temperature', 'Maximum Temperature'].mean()

      Minimum Temperature  Mean Temperature  Maximum Temperature
Date
1               23.903226         32.283871            43.070968
2               24.158621         34.337931            49.093103
3               38.070968         48.012903            61.750000
4               41.610000         53.433333            69.593333
5               52.374194         61.580645            73.390323
6               67.246667         77.650000            89.580000
7               69.612903         78.525806            89.335484
8               64.845161         75.616129            88.383871
9               54.820000         66.030000            80.666667
10              42.406452         52.893548            66.709677
11              37.416667         48.460000            64.150000
12              24.196774         35.212903            49.438710

In [58]:
df21.describe()

       Minimum Temperature  ...  Maximum Wind Gust
count            65.000000  ...                0.0
mean             21.016923  ...                NaN
std              13.046881  ...                NaN
min             -24.200000  ...                NaN
25%              17.100000  ...                NaN
50%              22.500000  ...                NaN
75%              30.900000  ...                NaN
max              44.600000  ...                NaN

[8 rows x 11 columns]

In [65]:
df21[df21['Mean Temperature']==df21['Mean Temperature'].min()]

         Date  ...  Maximum Wind Gust
18 2021-02-16  ...                NaN

[1 rows x 12 columns]

In [66]:
df20[df20['Mean Temperature']==df20['Mean Temperature'].min()]

          Date  ...  Maximum Wind Gust
386 2020-02-14  ...                NaN

[1 rows x 12 columns]

In [67]:
df19[df19['Mean Temperature']==df19['Mean Temperature'].min()]

          Date  ...  Maximum Wind Gust
733 2019-03-04  ...              19.68

[1 rows x 12 columns]

In [68]:
df18[df18['Mean Temperature']==df18['Mean Temperature'].min()]

           Date  ...  Maximum Wind Gust
1160 2018-01-01  ...                NaN

[1 rows x 12 columns]

In [69]:
df17[df17['Mean Temperature']==df17['Mean Temperature'].min()]

           Date  ...  Maximum Wind Gust
1520 2017-01-06  ...                NaN

[1 rows x 12 columns]